# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
remove_files_not_containing_class_from_19-*.tar

# Temporary files, for example, from tests.
/tmp/

/labels/train2017/*
/labels/val2017/*

/images/train2017/*
/images/val2017/*

/output/labels/train2017/*
/output/labels/val2017/

/output/images/train2017/*
/output/images/val2017/
train2017.zip
